<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="../index.html"><img src="../static/Doc.png" class="logo"></a></li>
                <li><a href = "../index.html">Home</a></li>
                <li><a href = "./symptom_analysis.html">Symptom Analysis</a></li>
                <li><a href = "./login.html">Login/Sign Up</a></li>
                <li><a href = "./about_us.html">About me</a></li>
                <li><a href = "./feedback.html">Feedback</a></li>
            </ul>
        </nav>
    </header>
    <article>>
        <div class = "content">
            <form class = "feedback">
                <h1>Your Feedback</h1>
                <p>We would like your feedback to improve our webpage</p>
                <div class = "emoji">
                    <a href = "">😀</a>
                    <a href = "">😐</a>
                    <a href = "">☹️</a>
                </div>
                <div class = "opinion_type">
                    <button>Suggestion</button>
                    <button>Something is off</button>
                    <button>Compliment</button>
                </div>
                <div class = "type_area">
                    <p>Please leave your feedback here</p>
                    <textarea name="" id="" cols="60" rows="10"></textarea>
                </div>
                <button class = "send">Send</button>
            </form>
        </div>
    </article>
</body>
</html>