<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class = "login">
    <header>
        <nav>
            <ul>
                <li><a href="../index.html"><img src="../static/Doc.png" class="logo"></a></li>
                <li><a href = "../index.html">Home</a></li>
                <li><a href = "./symptom_analysis.html">Symptom Analysis</a></li>
                <li><a href = "./login.html">Login/Sign Up</a></li>
                <li><a href = "./about_us.html">About me</a></li>
                <li><a href = "./feedback.html">Feedback</a></li>
            </ul>
        </nav>
    </header>
    <form>
        <h1>LOGIN</h1>
        <div class = "Username">
        <input type = "text" placeholder="Username :">
        </div>
        <div class = "Password">
        <input type= "password" placeholder="Password :">
        </div>
        <div class = "link"><a href = "forgot_password_page.html">Forgot password?</a></div>
        <div class = "button">
        <button type = "submit">Login</button>
        </div>
        <a href = "registration.html">If you do not have account, click here</a>
    </form>
</body>
</html>