<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="../index.html"><img src="../static/Doc.png" class="logo"></a></li>
                <li><a href = "../index.html">Home</a></li>
                <li><a href = "./symptom_analysis.html">Symptom Analysis</a></li>
                <li><a href = "./login.html">Login/Sign Up</a></li>
                <li><a href = "./about_us.html">About me</a></li>
                <li><a href = "./feedback.html">Feedback</a></li>
            </ul>
        </nav>
    </header>
        <section class = "one">
            <img src="../static/Woman _Couging.jpg">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate fugiat debitis maxime at aperiam incidunt, mollitia aliquam et fugit officia temporibus! Alias voluptatibus voluptas dolore distinctio hic tenetur commodi ipsa?
        </section>
        <section class = "two">
            <img src="../static/Fever.webp">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet assumenda libero rerum soluta. Adipisci illo quas fugit non dolorem aliquam, aut fuga ullam consequuntur, aspernatur quam natus sit, velit consectetur.
        </section>
        <section class = "three">
            <img src="../static/Vaccine.jpg">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, deserunt quibusdam excepturi quisquam vel molestias nisi maiores sint aliquid aut?
        </section>
</body>
</html>